<% include ../partials/boiler %>

<div class='main_header'>
    <h1>djLogin</h1>
</div>
<div class='auth_form'>
  <form method='POST' action='/auth/login'>
    <div>
      <label for="username">Username:</label>
      <input name='username' type='text' placeholder='Enter username' required />
    </div>
    <div>
      <label for="password">Password:</label>
      <input name='password' type='password' placeholder='Enter password' required />
    </div>
    <input class='button' type='submit' value='Log in!' />
    <a href="auth/register">Register!</a>
  </form>
</div>

<% include ../partials/end %>