<% include ../partials/boiler %>

<div class='auth_form'>
  <form method='POST' action='/auth/register'>
    <label for="username">Username:</label>
    <input name='username' type='text' placeholder='Enter username' required />
    <label for="password">Password:</label>
    <input name='password' type='password' placeholder='Enter password' required />
    <label for="soundcloud_name">Soundcloud username:</label>
    <input name='soundcloud_name' type='text' placeholder='Enter soundcloud' required />
    <label for="dj_name">dj_name:</label>
    <input name='dj_name' type='text' placeholder='How do you want to be remembered?' required />
    <input class='button' type='submit' value='Register!' />
  </form>
</div>

<% include ../partials/end %>