<header>
  <nav>
    <a href="/"><i class="fa fa-headphones" aria-hidden="true"></i>
    </a>
    <div class='rt_buttons'>
      <a href="/user">profile</a>
      <a href="/user/logout">logout</a>
    </div>
  </nav>
</header>