<div class='row'>
    <div class='box'><button id='add'>+</button><button id='play'>></button></div>
    <div class='box'><img class='art_small' src="<%= favorite.artwork_url %>"></div>
    <div class='box'> <%= favorite.song_name %> </div>
    <div class='box'> <%= favorite.artist %>    </div>
    <div class='box'> <%= favorite.genre %>     </div>
  </div>