<div class = 'row first'>
    <div class='box first'>Action</div>
    <div class='box first'>Art</div>
    <div class='box first'>Title</div>
    <div class='box first'>Artist</div>
    <div class='box first'>Genre</div>
</div>