<% include ./partials/boiler %>

  <div class='main_header'>
    <h1>DJ_Voter</h1>
  </div>
  <div class='main_menu'>
    <ul>
      <li><a href="/auth/login">dj_login</a></li>
      <li><a href="/auth/register">Register</a></li>
      <li><a href="/rooms">Current Rooms</a></li>
    </ul>
  </div>
  
<% include ./partials/end %>
  