<% include ./partials/boiler %>

  <div class='main_header underline'>
    <h1>DJ_Voter</h1>
  </div>
  <div class='main_menu'>
    <ul>
      <li><a href="/auth/login">dj_login</a></li>
      <li><a href="/rooms">current_rooms</a></li>
      <li><a href="/about">about</a></li>
    </ul>
  </div>
  
<% include ./partials/end %>
  