<% include ../partials/boiler %>

<h2>Edit Profile</h2>
<a href="/user">User Main</a>
<a href="/user/create">Create Room</a>

<div class='auth_form'>
<form method='POST' action='/user/<%= user.id %>?_method=PUT'>
  <label for="username">Username:</label>
  <input name='username' type='text' value="<%= user.username %>" required />
  <label for="soundcloud_name">Soundcloud username:</label>
  <input name='soundcloud_name' type='text' value='<%= user.soundcloud_name %>' required />
  <label for="dj_name">dj_name:</label>
  <input name='dj_name' type='text' value='<%= user.dj_name %>' required />
  <input type='submit' value='Save' />
</form>
</div>


<% include ../partials/end %>