<% include ../partials/boiler %>

<h2>Welcome, <%= user.dj_name %>.</h2>
<h2 style="display: none" id='hidden_user'><%= user.id %></h2>

<a href="/user/edit">Edit Profile</a>
<a href="/user/create">Create Room</a>
<div class='profile_columns' id='user_songs'>
  <div class='grid'>List of User's Songs
    <% let className = 'user' %>
    <% include ../partials/song-grid-header %>
  </div>
  <div class='grid'>List of Soundcloud Favorites
    <% className = 'soundcloud' %>
    <% include ../partials/song-grid-header %>
    <% for(let i = 0; i < favorites.length; i++) { %>
      <% include ../partials/row-from-db %>
    <% } %>
  </div>
</div>

<script src='/src/main.js'></script>
<% include ../partials/end %>