<% include ../partials/boiler %>

<h2>Welcome, <%= user.dj_name %>.</h2>
<a href="/user/edit">Edit Profile</a>
<a href="/user/create">Create Room</a>
<div class='profile_columns'>
  <div class='grid'>make a left list
      <% include ../partials/song-grid-header %>
  </div>
  <div class='grid'>List of Soundcloud Favorites
    <% include ../partials/song-grid-header %>
    <% for(let i = 0; i < favorites.length; i++) { %>
      <% include ../partials/row-from-db %>
    <% } %>
  </div>
</div>

<script src='/src/main.js'></script>
<% include ../partials/end %>