<% include ../partials/boiler %>

<h2>Welcome, <span><%= user.dj_name %></span></h2>
<h2 style="display: none" id='hidden_user'><%= user.id %></h2>
<div class='buttons_holder'>
  <a class='user_buttons' href="/user/edit">Edit Profile</a>
  <a class='user_buttons' href="/user/create">Create Room</a>
</div>
<div id='soundcloud_holder'>
</div>
<div class='profile_columns' id='user_songs'>
  <div class='grid'> <h2>List of User's Songs</h2>
    <% let className = 'user' %>
    <% include ../partials/song-grid-header %>
    <% let arr = bank %>
    <% for(let i = 0; i < arr.length; i++) { %>
      <% include ../partials/row-from-db %>
    <% } %>
  </div>
  <div class='grid'><h2>Soundcloud Favorites</h2>
    <% className = 'soundcloud' %>
    <% include ../partials/song-grid-header %>
    <% arr = favorites %>
    <% for(let i = 0; i < arr.length; i++) { %>
      <% include ../partials/row-from-db %>
    <% } %>
  </div>
</div>


<script src='/src/main.js'></script>
<% include ../partials/end %>