div {
  border: solid 1px #CCC
}

.profile_columns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 80vh;
  overflow: scroll;
}

.grid {
  display: column;
  flex-direction: row;
  /* flex: 1; */
  width: 30vw;
  overflow: scroll;
  height: 50vw;
}

/* fixme to change the color of rows */
.row:nth-child(odd) {
  background-color: #DDD;
}

.row {
  display: grid;
  grid-template-columns: 30px minmax(60px,60%) minmax(60px,40%) 40px;
  white-space: nowrap;
}

.box {
  overflow-x: scroll;
  overflow: hidden;
  height: 30px;
  display: flex;
  align-items: center;
}

.art_small {
  height: 20px;
  width: 20px;
}